{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block title %}UserClient{% endblock %}

{% block body %}

     <div class="services mt-5">
            <h1 class="text-center mb-5">Demandes de services</h1>
            {% for user_client in user_clients %}
                <div class="service border rounded p-3">
                    <h5>Service recherché : {{ user_client.requestedService }}</h5>
                    <p>Client : {{ user_client.firstName }} {{ user_client.lastName }}</p>
                    <p>Email : {{ user_client.email }}</p>
                    <p>Téléphone : {{ user_client.phone }}</p>
                </div>
            {# {% else %}
                <p>Aucune demande de service pour le moment.</p> #}
            {% endfor %}
        </div>

      {# <table class="table bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Phone</th>
                <th>Email</th>
                <th>RequestedService</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
       {% for user_client in user_clients %}
            <tr>
                <td>{{ user_client.id }}</td>
                <td>{{ user_client.firstName }}</td>
                <td>{{ user_client.lastName }}</td>
                <td>{{ user_client.phone }}</td>
                <td>{{ user_client.email }}</td>
                <td>{{ user_client.requestedService }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('app_user_client_show', {'id': user_client.id}) }}">voir</a>
                    {# <a href="{{ path('app_user_client_edit', {'id': user_client.id}) }}">edit</a> #}
     {#           </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    {# <a href="{{ path('app_user_client_new') }}">Create new</a> #}

{% endblock %}
