{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block title %}UserClient{% endblock %}

{% block body %}
    <h1>UserClient</h1>

    <table class="table bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_client.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user_client.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user_client.lastName }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user_client.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user_client.email }}</td>
            </tr>
            <tr>
                <th>RequestedService</th>
                <td>{{ user_client.requestedService }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-secondary" href="{{ path('app_show_clients') }}">back to list</a>

    <a class="btn btn-outline-secondary" href="{{ path('app_user_client_edit', {'id': user_client.id}) }}">edit</a>

    {{ include('user_client/_delete_form.html.twig') }}
{% endblock %}
