{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block title %}ServiceProvider{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Prestataire de service</h1>

       <div class="d-flex justify-content-center align-items-center">
        <a href="{{ path('register_service_provider') }}" class="btn btn-info btn-lg m-3">Inscription Prestataire</a>
        <a href="{{ path('app_login') }}" class="btn btn-outline-primary btn-lg m-3">Connexion Prestataire</a>
    </div>

 {#    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>City</th>
                <th>ServiceOffered</th>
                <th>BusinessTrip</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service_provider in service_providers %}
            <tr>
                <td>{{ service_provider.id }}</td>
                <td>{{ service_provider.firstName }}</td>
                <td>{{ service_provider.lastName }}</td>
                <td>{{ service_provider.city }}</td>
                <td>{{ service_provider.serviceOffered }}</td>
                <td>{{ service_provider.businessTrip ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_service_provider_show', {'id': service_provider.id}) }}">show</a>
                    <a href="{{ path('app_service_provider_edit', {'id': service_provider.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_provider_new') }}">Create new</a> #}
{% endblock %}
