{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block title %}ServiceProvider{% endblock %}

{% block body %}
    <h1>ServiceProvider</h1>

    <table class="table bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service_provider.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ service_provider.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ service_provider.lastName }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ service_provider.city }}</td>
            </tr>
            <tr>
                <th>ServiceOffered</th>
                <td>{{ service_provider.serviceOffered }}</td>
            </tr>
            <tr>
                <th>BusinessTrip</th>
                <td>{{ service_provider.businessTrip ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-secondary" href="{{ path('app_show_providers') }}">back to list</a>

    <a class="btn btn-outline-warning" href="{{ path('app_service_provider_edit', {'id': service_provider.id}) }}">edit</a>

    {{ include('service_provider/_delete_form.html.twig') }}
{% endblock %}
